<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".LauncherMockData"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher"
        android:label="@string/appName"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AlkeWallet">
        <activity
            android:name=".activities.ContactsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CardsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RequestActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SendActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activities.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LoginSignupActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.InfoActivity"
            android:exported="false"
            android:label="@string/title_activity_info"
            android:resizeableActivity="true"
            android:theme="@style/Theme.AlkeWallet.NoActionBar"
            tools:targetApi="24" />
    </application>

</manifest>